html,
body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    font-size: 16px;
    font-family: "Microsoft Yahei";
    color: #333333;
    background-color: #f4f4f4;
    position: relative;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#container {
    width: 100%;
    display: none;
}

.main {
    margin: 0 auto;
    min-width: 800px;
    max-width: 800px;
}

.main .title {
    font-size: 1.5em;
    color: #cf3939;
}

.page0 .main,
.page1 .main,
.page2 .main {
    min-width: 1000px;
    max-width: 1000px;
}

.page0 {
    background-image: url(assets/cover_bg.png);
    background-position: bottom;
    background-repeat: repeat-x;
}

.page0 .logo {
    margin-bottom: 100px;
}

.page0 .head {
    position: relative;
    margin-bottom: 438px;
    z-index: 1;
}

.page0 .cloudgroup img,
.page0 .cargroup img {
    position: absolute;
}

.page0 .cloudgroup img:nth-child(1) {
    top: 30%;
    left: 60%;
    animation: bounce-x 3s linear infinite alternate;
}

.page0 .cloudgroup img:nth-child(2) {
    top: 50%;
    left: 30%;
    animation: bounce-x 3s linear infinite 1s alternate;
}

.page0 .cloudgroup img:nth-child(3) {
    top: 40%;
    right: 0;
    animation: bounce-x 3s linear infinite 2s alternate;
}

.page0 .cargroup img:nth-child(1) {
    bottom: 4%;
    left: 15%;
    animation: bounce-x 1s infinite -0.2s alternate;
}

.page0 .cargroup img:nth-child(2) {
    bottom: 8%;
    left: 42%;
    animation: bounce-x 1s infinite 0.3s alternate;
}

.page0 .cargroup img:nth-child(3) {
    bottom: 3%;
    left: 65%;
    animation: bounce-x 1s infinite 0.1s alternate;
}

.page1 .main .map {
    position: relative;
    width: 100%;
}

.page1 .main .map li img {
    position: absolute;
    animation: bounce-y 2s infinite alternate;
}

.page1 .main .map li:nth-child(1) img {
    top: 80px;
    left: 520px;
}

.page1 .main .map li:nth-child(2) img {
    top: 320px;
    left: 715px;
}

.page1 .main .map li:nth-child(3) img {
    top: 130px;
    left: 200px;
}

.page1 .main .map li:nth-child(4) img {
    top: 170px;
    left: 625px;
}

.page1 .main .map li:nth-child(5) img {
    top: 285px;
    left: 200px;
}

.page1 .main .map li p {
    position: absolute;
    z-index: 1;
    padding: 15px 20px;
    max-width: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: #fff;
    text-align: justify;
    line-height: 1.5em;
    opacity: 0;
    transition: opacity ease 0.5s;
}

.page1 .main .map li:hover p {
    opacity: 1;
}

.page1 .main .detail {
    position: relative;
    z-index: 1;
    line-height: 1.5em;
    margin-top: -50px;
}

.page2 .main .title {
    margin-bottom: 20px;
}

.page2 .main .road {
    position: relative;
}

.page2 .main .road img:nth-child(1) {
    margin-left: 120px;
    animation: bounce-y 2s infinite 1.6s alternate;
}

.page2 .main .road img:nth-child(2) {
    margin-left: 160px;
    vertical-align: top;
    animation: bounce-y 2s infinite alternate;
}

.page2 .main .road img:nth-child(3) {
    margin-left: 170px;
    animation: bounce-y 2s infinite 0.8s alternate;
}

.page2 .main .notice {
    margin: 20px 0;
    line-height: 2em;
}

.page2 .main .notice img {
    margin: 0 0.5em;
}

.page2 .main .chart1,
.page2 .main .chart2 {
    display: inline-block;
}

.page2 .main .chart1 {
    position: relative;
    vertical-align: top;
    padding-right: 205px;
}

.page2 .main .chart1 li {
    font-size: 0.75em;
    color: #666666;
    line-height: 2em;
}

.page2 .main .chart1 li span {
    display: inline-block;
    margin-right: 1em;
    width: 10px;
    height: 10px;
}

.page2 .main .chart1 li:nth-child(1) span {
    background-color: #cf3939;
}

.page2 .main .chart1 li:nth-child(2) span {
    background-color: #f1d04e;
}

.page2 .main .chart1 li:nth-child(3) span {
    background-color: #f7c152;
}

.page2 .main .chart1 li:nth-child(4) span {
    background-color: #4e5895;
}

.page2 .main .chart1 .fangroup {
    position: absolute;
    bottom: 0;
    right: 50px;
}

.page2 .main .chart1 .fangroup div {
    display: inline-block;
    position: relative;
    width: 94px;
    height: 94px;
    background-image: url(assets/pic_fan_bg.png);
    background-repeat: no-repeat;
}

.page2 .main .chart1 .fangroup img {
    display: inline-block;
    position: absolute;
}

.page2 .main .chart1 .fangroup img:hover {
    transform: scale(1.2);
    z-index: 1;
}

.page2 .main .chart1 .fangroup .f1 {
    top: 0;
    left: 47px;
}

.page2 .main .chart1 .fangroup .f2 {
    top: 0;
    left: 47px;
}

.page2 .main .chart1 .fangroup .f3 {
    top: 47px;
    left: 0;
}

.page2 .main .chart2 {
    padding-left: 50px;
    border-left: 1px dashed #c8c8c8;
}

.page2 .main .chart2 .number {
    margin: 0 auto;
    padding: 5px 10px;
    width: 40px;
    border: 1px solid #cf3939;
    text-align: center;
}

.page2 .main .chart2 ul {
    margin: 10px 0;
}

.page2 .main .chart2 li {
    display: inline-block;
    margin: 0 5px;
    opacity: 1;
    transition: opacity ease 0.5s;
}

.page2 .main .chart2 li.hide {
    opacity: 0
}

.page2 .main .chart2 hr {
    display: block;
    margin: 0;
    width: 542px;
    height: 2px;
    background-color: #c8c8c8;
    border: 0;
}

.page2 .main .chart2 .btngroup div {
    display: inline-block;
    margin: -6px 0 0 15%;
}

.page2 .main .chart2 .btngroup span {
    display: block;
    margin: 0 auto 10px auto;
    width: 56px;
    height: 43px;
    background-position: left top;
    background-repeat: no-repeat;
}

.page2 .main .chart2 .btngroup div.active span {
    background-position: right top;
}

.page2 .main .chart2 .btngroup span:nth-child(1) {
    background-image: url(assets/pic_guo1.png);
}

.page2 .main .chart2 .btngroup span:nth-child(2) {
    background-image: url(assets/pic_guo2.png);
}

.page3 .main {
    margin: 0 auto 100px auto;
}

.page3 .main .title {
    margin: 0 0 50px -0.5em;
}

.page3 .main ul {
    position: relative;
    margin: 0;
}

.page3 .main li {
    position: relative;
    padding-left: 10px;
}

.page3 .main li * {
    display: inline-block;
}

.page3 .main li .step {
    padding: 10px 13px;
    background-color: #a59f9f;
    color: #fff;
    transition: background ease 0.5s;
}

.page3 .main li.active .step {
    background-color: #f7c152;
}

.page3 .main li .step span {
    display: block;
    position: absolute;
    left: -10px;
    margin-top: 3px;
    border-style: solid;
    border-width: 5px 10px;
    border-color: transparent #a59f9f transparent transparent;
    transition: border-color ease 0.5s;
}

.page3 .main li.active .step span {
    border-color: transparent #f7c152 transparent transparent;
}

.page3 .main li .icon {
    margin-left: 35px;
    vertical-align: middle;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.page3 .main li .detail {
    margin-left: 30px;
    vertical-align: middle;
    width: 550px;
    text-indent: 2em;
    text-align: justify;
    line-height: 2em;
    word-break: break-all;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.page3 .main li .detail span {
    display: inline;
    color: #cf3939;
}

.page3 .main li.active .icon,
.page3 .main li.active .detail {
    opacity: 1;
}

.page3 .circle {
    position: absolute;
    left: -30px;
    top: 36px;
    width: 20px;
    height: 20px;
    background-color: #f7c152;
    border-radius: 50%;
}

.page3 .circle .inner {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.6;
    transform: scale(0.6);
}

.page3 .footer {
    position: absolute;
    bottom: 0;
    padding-top: 130px;
    width: 100%;
    background-image: url(assets/bar.png);
    background-repeat: no-repeat;
    background-position: center top;
}

.page3 .footer div {
    width: 100%;
}

.page3 .footer .light {
    height: 15px;
    background-color: #cbccdb;
}

.page3 .footer .dark {
    height: 45px;
    background-color: #4e5469;
}

.page4 .main .title {
    margin-bottom: 50px;
}

.page4 .main .desc {
    margin: 35px 0;
    line-height: 2em;
}

.page4 .main .desc img {
    float: left;
    margin: 11px 20px 0 0;
}

.page4 .main .table {
    display: inline-block;
    margin-left: 20px;
    width: 450px;
}

.page4 .main .table .btngroup div {
    display: inline-block;
    padding: 10px 13px;
    background-color: #fff;
    cursor: pointer;
    transition: background ease 0.5s;
}

.page4 .main .table .btngroup div.active {
    color: #fff;
    background-color: #f7c152;
}

.page4 .main .table .tablegroup img {
    display: none;
    margin: 10px 0;
    width: 100%;
}

.page4 .main .table .tablegroup img.active {
    display: block;
}

.page4 .main .car-anime {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 320px;
    height: 250px;
}

.page4 .main .car-anime * {
    position: absolute;
}

.page4 .main .car-anime .ani1 {
    bottom: 21px;
    right: 0;
    animation: bounce-y 1s ease-in infinite alternate;
}

.page4 .main .car-anime .ani2 {
    bottom: 6px;
    right: 33px;
    animation: bounce-y 1s ease-in 0.2s infinite alternate;
}

.page4 .main .car-anime .ani3 {
    bottom: 0;
    right: 0;
    width: 282px;
    height: 6px;
    background-color: #a9acad;
    border-radius: 3px;
    animation: jump 1s ease-in infinite alternate;
}

.page4 .main .car-anime .ani4 {
    bottom: 30px;
    right: 283px;
    animation: zoom 2s ease-in 1.2s infinite;
}

.page4 .main .end {
    margin-top: 100px;
    text-align: center;
    font-size: 1.3em;
}

@keyframes bounce-x {
    from {
        margin-left: 0;
        margin-right: 0;
    }
    to {
        margin-left: -20px;
        margin-right: -20px;
    }
}

@-webkit-keyframes bounce-x {
    from {
        margin-left: 0;
        margin-right: 0;
    }
    to {
        margin-left: -20px;
        margin-right: -20px;
    }
}

@keyframes bounce-y {
    from {
        margin-top: 0;
        margin-bottom: 0;
    }
    to {
        margin-top: -8px;
        margin-bottom: 8px;
    }
}

@-webkit-keyframes bounce-y {
    from {
        margin-top: 0;
        margin-bottom: 0;
    }
    to {
        margin-top: -8px;
        margin-bottom: 8px;
    }
}

@keyframes jump {
    from {
        right: 0;
        width: 282px;
    }
    to {
        right: 15px;
        width: 252px;
    }
}

@-webkit-keyframes jump {
    from {
        right: 0;
        width: 282px;
    }
    to {
        right: 15px;
        width: 252px;
    }
}

@keyframes zoom {
    from {
        opacity: 0.5;
        transform: scale(0.8);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes zoom {
    from {
        opacity: 0.5;
        transform: scale(0.8);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
    }
}


/*

#fp-nav ul li a span {
    background: #cf3939;
}
*/
